services:
  edapex:
    image: ghcr.io/beznet22/edapex:latest
    pull_policy: always
    expose:
      - 3000
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - JWT_SIGN_SECRET=${JWT_SIGN_SECRET}
      - JWE_ENC_SECRET=${JWE_ENC_SECRET}
      - MAIL_DRIVER=${MAIL_DRIVER}
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_USERNAME=${MAIL_USERNAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - MAIL_FROM_ADDRESS=${MAIL_FROM_ADDRESS}
      - MAIL_FROM_NAME=${MAIL_FROM_NAME}
      - MAIL_ENCRYPTION=${MAIL_ENCRYPTION}
    volumes:
      - ${STORAGE_DIR}/storage:/app/storage
    restart: unless-stopped
